# Importing Libraries

In [24]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

# Data Collection and Analysis

## Student's Performance Dataset

In [27]:
std_dataset = pd.read_csv("/Users/balogunishaq/Desktop/Complete Machine Learning Course - Siddhardhan/datasets/StudentsPerformance.csv")

In [28]:
std_dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [29]:
std_dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [30]:
std_dataset.shape

(1000, 8)

In [31]:
std_dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [32]:
std_dataset['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [33]:
# 0 --> Female
# 1 --> Male

In [39]:
# std_dataset.groupby('gender').mean()

In [43]:
# Separating the data and labels
X = std_dataset.drop(columns='gender', axis=1)
Y = std_dataset['gender']

In [45]:
print(X)

    race/ethnicity parental level of education         lunch  \
0          group B           bachelor's degree      standard
1          group C                some college      standard
2          group B             master's degree      standard
3          group A          associate's degree  free/reduced
4          group C                some college      standard
..             ...                         ...           ...
995        group E             master's degree      standard
996        group C                 high school  free/reduced
997        group C                 high school  free/reduced
998        group D                some college      standard
999        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 7 columns]

In [49]:
print(Y)

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

# Data Standardization

In [52]:
scaler = StandardScaler()

In [64]:
# scaler.fit(Y)

In [68]:
# standardized_data = scaler.transform(X)

In [76]:
# X = standardized_data
# Y = std_dataset['gender']

In [78]:
print(X)

    race/ethnicity parental level of education         lunch  \
0          group B           bachelor's degree      standard
1          group C                some college      standard
2          group B             master's degree      standard
3          group A          associate's degree  free/reduced
4          group C                some college      standard
..             ...                         ...           ...
995        group E             master's degree      standard
996        group C                 high school  free/reduced
997        group C                 high school  free/reduced
998        group D                some college      standard
999        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 7 columns]

In [80]:
print(Y)

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

# Splitting the data into Training and Testing Data

In [83]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=2)

In [85]:
print(X.shape, X_train.shape, X_test.shape)

(1000, 7) (800, 7) (200, 7)